h1{
	font-family: Trebuchet MS; /* Changer la police du titre principale */
}

h3{
	font-family: Trebuchet MS; /* Changer la police des aides d'information nom et mot de passe */
}

input{
	font-family: Trebuchet MS; /* Changer la police des entrées de textes */
}

body{
	margin: 75px; /* augmenter la marge */
	background: url("flag.png") no-repeat fixed; /* Mettre une image en fond */
	background-size: 101%; /* augmenter la taille de l'image */
}

.connection{
	background-color: #7cfc00; /* Changer la couleur de la div */
	border-width:30px; /* Changer la taille de la marge */
 	border-style:solid; /* Parametre de la texture de la marge */
 	border-color:#7cfc00; /* Changer la couleur de la marge */
 	border-radius: 25px; /* rayon en pixel de l'arrondit de la div */
 	display: inline-block; /* ajuster la taille de la div à son contenu */

}

/* Modification de la class "connection" pour c'est paramère quand elle est survolé. */
.connection:hover{
	box-shadow: 6px 6px 3px black; /* définition de l'hombre : côté hauteur addoussicement couleur */
	transition: 0.3s; /* délais pour une animation plus fluide */
}

.connection_button{
	border-radius: 10px; /* rayon en pixel de l'arrondi des angles du bouton */
	height: 30px; /*changer la hauteur du bouton */
  	width: 100px; /* changer la lagreur du bouton */

}

.connection_button:hover{
	background-color: black;
	color: white;
}

.connection_button:active{
	box-shadow: inset -2px -2px 3px; /* définition de l'hombre : côté hauteur addoussicement couleur */
                
}

.name:hover{
	box-shadow: 3px 3px 3px black; /* définition de l'hombre : côté hauteur addoussicement couleur */
}

.password:hover{
	box-shadow: 3px 3px 3px black; /* définition de l'hombre : côté hauteur addoussicement couleur */
}

.menu_div_1{
	background-color: #5776da;
	border-width:30px; /* Changer la taille de la marge */
 	border-style:solid; /* Parametre de la texture de la marge */
 	border-color:#5776da; /* Changer la couleur de la marge */
 	position:absolute;
 	top:0;
 	right:0;
 	display: inline-block;
 	color:black;
}

.menu_button_1{
	color: black;
	font-family: Trebuchet MS;
	font-size: 30px;
}

.menu_button_1:hover{
	color: white;
}

.zoneLecture{
	background-color: white;
	color: black;
	font-family: Trebuchet MS;
}

.go_to_menu_button{
	font-family: Trebuchet MS;
	font-size: 25;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #5776da;
	border-width: 5px;
	border-style: solid;
	border-color: #5776da;
	color: black;
}

.go_to_menu_button:hover{
	background-color: black;
	border-width: 5px;
	border-color: black;
	color: white;
}

.zoneLecture{
	opacity: 50%;
}
